Flask==2.3.3
Werkzeug==2.3.7
Flask-Cors==4.0.0
numpy==1.24.3
langchain==0.1.0
langchain-google-genai==0.0.5
langchain-community==0.0.13
pypika>=0.48.9
chromadb==0.4.22
PyPDF2==3.0.1
requests==2.31.0
mysql-connector-python==8.0.33
PyJWT==2.8.0
psutil==6.0.0
pypdf==5.5.0
cryptography==44.0.3
gradio==4.27.0
sentence-transformers==2.6.1
